body {
  background-color: white;
  font-family: 'Josefin Sans';
  color: black;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.insta-feed{display:block;}
#merch-img{height:10rem;   display: block;   margin-top:3rem;
}
#img-container{ display:flex; justify-content:center; margin:auto;  margin-top:3rem;}
#paragraph {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  line-height: 1.25rem;
  text-align: justify;
  font-size:1rem;
}

#profile-container {
  margin-top: 3rem;
}

#profile {
  display: block;
  margin: auto;
  height: 20rem;
  background-color: black;
  padding: 0.25rem;
  border-radius: 2.25rem;
}

#snp-container {
  display: block;
  margin-top:1rem;}

#CTT {
  display: block;
  margin: auto;
  margin-bottom: 4rem;
  height: 5rem;
  background-color: white;
  padding: 0.25rem;
  border-radius: 2.25rem;
}

#ATP {
  display: block;
  margin: auto;
  margin-bottom: 4rem;
  height: 16rem;
  background-color: white;
  padding: 0.25rem;
  border-radius: 2.25rem;
}

#CBT {
  display: block;
  margin: auto;
  margin-bottom: 4rem;
  height: 16rem;
  background-color: white;
  padding: 0.25rem;
  border-radius: 2.25rem;
}
#profile-container{margin-top:3rem;}
#profile{display:block; margin:auto; height:20rem; background-color:black; padding:0.25rem; border-radius:2.25rem;}
.insta-feed{display:block;}

p {
  line-height: 1.25rem;
}


#bon {

  height: 5rem;
}

.heading {
  color: black;
  display: flex;
}

#logo {
  width: 150px;
  height: 125px;
}


#icon {
  height: 3rem;
  margin: 1rem 0rem;

}

#icons {
  display: block;
  margin: auto;
  width: 60%;
  height: 100%;
}

#bonfire {
    height: 3rem;
  }


  #merch {
    text-align:center;
       width:80%;
    margin:auto;
  }





@media (min-width:500px) {
  
  .insta-feed{display:none;}
  
  #merch-img{height:15rem;   display: block;   margin-top:3rem; margin-left: 3rem; margin-right: 3rem;
}

#img-container{display:flex; justify-content:center; margin:auto; }
  .insta-feed{display:none;}
  h1 {
    font-size: 1.5rem;
  }

  #icon {
    height: 3rem;
    margin: 1rem 0rem;

  }

  #icons {
    display: block;
    justify-content: center;
    margin: auto;
    width: 70%;
    height: 100%;


  }

  h3 {
    font-size: 1.25rem;
  }

  #bonfire {
    height: 3rem;
  }

  #more {
    width:80%;
    margin:auto;
    justify-content:center;
}
  #merch {
    text-align:center;
       width:80%;
    margin:auto;
  }




}

@media (min-width:1000px) {
  .insta-feed{display:none;}
  #merch-img{height:20rem;   display: block;   margin-top:3rem; margin-left: 7rem; margin-right:7rem;
}

#img-container{display:flex; justify-content:center; }
.insta-feed{display:none;}
  #more {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;

  }

  #merch {
    width: 100%;
  }



  #icons {
    display: block;
    justify-content: space-between;

  }

  #icon {
    height: 4rem;
    margin: 1rem 2rem;

  }


  h3 {
    font-size: 1.75rem;
    line-height: 1.25rem;
  }

  #icons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
  }

  p {
    font-size: 1.35rem;
    line-height: 2rem;
  }
    #snp-container {
    display: flex;
    margin-top:5rem;
  }

  #CTT {
    display: block;
    margin: auto;
    margin-bottom: 11rem;
    height: 7rem;
    background-color: white;
    padding: 0.25rem;
    border-radius: 2.25rem;
  }

  #profile {
    display: block;
    margin: auto;
    height: 25rem;
    background-color: black;
    padding: 0.25rem;
    border-radius: 2.25rem;
  }

  #paragraph {
    margin-left: 6rem;
    margin-right: 6rem;
    line-height: 1.25rem;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  
  h4{font-size:1.7rem;}
}
